*
!.gitignore
!Apply_Fitted_Coordinates.conf
!Copy_to_Output_Folder.conf
!Generate_Flatmap_Sources.conf
!Geometry_Fitter-settings.json
!Geometry_Fitter.conf
!Mesh_Projection.conf
!Mesh_Rotation.conf
!README.rst
!SSV_Annotations.conf
!SSV_Source.conf
!map-client-workflow.proj
!map-client-workflow.proj.png
